<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wuodoo.mobile" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>WU Odoo</name>
    <description>WU Odoo Mobile Client</description>
    <author email="admin@wuodoo.com" href="https://wuodoo.com">WU Odoo</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <preference name="DisallowOverscroll"       value="true" />
    <preference name="android-minSdkVersion"    value="22" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="Orientation"              value="default" />
    <preference name="KeepRunning"              value="true" />
    <preference name="LoadUrlTimeoutValue"      value="30000" />
    <preference name="ErrorUrl"                 value="error.html" />
    <preference name="BackgroundColor"          value="0xff714B67" />

    <!-- Splash screen -->
    <preference name="AndroidWindowSplashScreenBackground"        value="#714B67" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon"      value="res/screen/android/splash.png" />
    <preference name="AndroidWindowSplashScreenAnimationDuration" value="1000" />
    <preference name="SplashScreenDelay"        value="2000" />
    <preference name="AutoHideSplashScreen"     value="true" />

    <!-- Status bar -->
    <preference name="StatusBarBackgroundColor" value="#714B67" />
    <preference name="StatusBarStyle"           value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="false" />

    <!-- Hook: inject HTTP cleartext config setelah setiap prepare/build -->
    <hook type="after_prepare" src="scripts/android_cleartext.js" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-statusbar"           spec="^3.0.0" />
    <plugin name="cordova-plugin-splashscreen"        spec="^6.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-plugin-inappbrowser"        spec="^5.0.0" />
    <plugin name="cordova-plugin-file"                spec="^8.0.0" />
    <plugin name="cordova-plugin-file-transfer"       spec="^2.0.0" />

    <platform name="android">
        <allow-intent href="market:*" />

        <!-- Icons -->
        <icon src="res/icon/android/icon-192.png" density="xxxhdpi" />
        <icon src="res/icon/android/icon-144.png" density="xxhdpi" />
        <icon src="res/icon/android/icon-96.png"  density="xhdpi" />
        <icon src="res/icon/android/icon-72.png"  density="hdpi" />
        <icon src="res/icon/android/icon-48.png"  density="mdpi" />

        <!-- Allow HTTP cleartext traffic (untuk akses server Odoo via HTTP) -->
        <edit-config file="app/src/main/AndroidManifest.xml"
                     mode="merge"
                     target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <!-- Permission untuk download file ke storage -->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                         android:maxSdkVersion="28" />

    </platform>

</widget>
